.logo {
    font-family: "Reenie Beanie", cursive;
}

body {
    font-family: "Playfair Display", serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.news-cycle {
    font-family: "News Cycle", sans-serif;
}