.logo {
    font-family: "Reenie Beanie", cursive;
    /* font-family: "Roboto Flex", sans-serif; */
    
}

body {
    
    font-family: "Lato", sans-serif;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.image-container:hover img {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

/* accordion styling */
.accordion {
  border: none;
  margin-top: 2rem;
}

.accordionItem {
  background-color: #fff;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton {
  background: #fff;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
}


.accordionButton .primaryText {
  font-size: 1.1rem;
}

.icon {
  padding: 10px;
  background: #9e9e9e;
  border-radius: 5px;
}

.icon svg {
  fill: #F5F5DC;
}

/* 
hero text scrolling */

.scroll-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

}

.scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}